language: php
php:
  - '5.6'

before_script:
 - wget http://getcomposer.org/composer.phar
 - php composer.phar install

script:
 - phpunit ./Backend/test/UserTest.php
 - phpunit ./Backend/test/PostTest.php
