<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="de.winterapps.appxpired" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity android:name=".menuActivity" ></activity>
        <activity android:name=".addActivity"
            android:configChanges="orientation|screenSize">
        </activity>
        <activity android:name=".showActivity"></activity>
        <activity android:name=".scanActivity"></activity>
        <activity android:name=".settingsActivity"></activity>
        <activity android:name=".loginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
